body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*My add-on css*/
.bg-gray {
    background-color: rgb(208, 212, 222);
}

.bg-light-gray {
    background-color: rgb(232, 233, 243);
}

.shadow-inner {
    box-shadow: 1px 1px 10px 2px rgb(153, 154, 182) inset;
}